<form method="post" class="seat-form">
   <input type="text" placeholder="Price" id="price" name="Price">
   <input type="number" name="TicketsCount" min="1" max="999" placeholder="Tickets Counter" >
   <input hidden name="DestinationId" type="number" autocomplete="DestinationId" value="DestinationId" style="display:none;visibility:hidden;z-index:inherit;"/>
   <button type="submit" class="create-seat" value="Create Seat">Create Seat</button>
</form>